# Virtual Enviroment
venv/
env/
.venv/
.virtualenv/

# Compiled Files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE configuration
.idea/
.vscode/
*.iml

# cache files
*.egg-info/
*.cache/
*.pyo
dist/
build/
pip-wheel-metadata/

# temp files
.coverage
site/
nosetests.xml
tox.ini
*~
*.log
*.swp
*.swo

# processed files
/temp
*.csv
*.txt
*.keras
*.pkl

# enviroment variables
.env

# includes requirements.txt
!requirements.txt

# test files
coverage.xml
htmlcov/*
