/* Custom FIWARE Chronos palette */

:root {
  --md-primary-fg-color: #1F6E95;
  --md-primary-fg-color--light: #1EA2BD;
  --md-primary-fg-color--dark: #0E5476;
  --md-accent-fg-color: #1EA2BD;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #1F6E95;
  --md-primary-fg-color--light: #1F6E95;
  --md-primary-fg-color--dark: #0E5476;
  --md-accent-fg-color: #1EA2BD;
}

.md-header__button.md-logo img {
  height: 28px;
}
